<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">
				  
<configuration>
<typeAliases>
	<typeAlias type="com.gang.home.board.qna.QnaVO" alias="QnaVO"/>
	<typeAlias type="com.gang.home.board.qna.QnaFileVO" alias="QnaFileVO"/>
	<typeAlias type="com.gang.home.util.Pager" alias="Pager"/>
	
</typeAliases>
</configuration>