<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.gang.home.member.MemberMapper">
		<insert id="setAdd" parameterType="MemberVO">
			INSERT INTO MEMBER VALUES(#{id},#{pw},#{name},#{email},#{enabled})
		</insert>
		<insert id="setRole" parameterType="MemberVO">
			INSERT INTO MEMBER_ROLE VALUES(#{id},
				(select num from role where roleName ='ROLE_MEMBER'))
		</insert>
		<select id="getLogin" parameterType="MemberVO" resultMap="getLoginResult">
			SELECT M.*, R.* 
			FROM MEMBER M
				inner join
				member_role MR
				on M.id = MR.id
				inner join
				ROLE R
				on MR.num = R.num
			 WHERE M.ID=#{id} AND M.PW=#{pw}
		</select>
		
		<resultMap type="MemberVO" id="getLoginResult">
			<id column="id" property="id" />
			<result column="name" property="name"/>
			<result column="email" property="email"/>
			<collection property="roleVOs" javaType="List" ofType="RoleVO">
				<result column="roleName" property="roleName"/>
			</collection>
		</resultMap>
		
		<select id="getIdCheck" parameterType="MemberVO" resultType="Integer">
			SELECT COUNT(ID) FROM MEMBER WHERE ID =#{id}
		</select>
		
	</mapper>