<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.gang.home.board.qna.QnaMapper">
	<select id="getList" resultType="QnaVO" parameterType="Pager">
		SELECT * FROM QNA ORDER BY NUM DESC LIMIT #{startRow},#{lastRow}
	</select>
	
	<insert id="setAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO QNA
			VALUES (#{num},#{writer},#{title},#{contents},0,SYSDATE(),0,0,0)
	</insert>
	
	<select id="getCount" resultType="java.lang.Long">
		SELECT COUNT(*) FROM QNA
	</select>
	
	<insert id="setFileAdd" parameterType="QnaFileVO">
		INSERT INTO QNAFILES VALUES (#{fileNum},#{num},#{fileName},#{oriName})
	</insert>
	
	<select id="getDetail" parameterType="QnaVO" resultMap="getDetailResult">
		select * 
			from QNA
			JOIN QNAFILES 
			ON QNA.NUM=QNAFILES.NUM
			WHERE QNA.NUM=#{num}
	</select>
	
	<select id="getFileDetail" parameterType="QnaFileVO" resultType="QnaFileVO">
		SELECT * FROM QNAFILES WHERE FILENUM=#{fileNum}
	</select>
	
	<resultMap type="QnaVO" id="getDetailResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="hit" property="hit"/>
		<result column="regDate" property="regDate"/>
		<result column="ref" property="ref"/>
		<result column="step" property="step"/>
		<result column="depth" property="depth"/>
			<collection property="qnaFilesVO" javaType="List" ofType="QnaFileVO">
				<id column="fileNum" property="fileNum"/>
				<result column="fileName" property="fileName"/>
				<result column="oriName" property="oriName"/>
			</collection>
	</resultMap>


</mapper>